/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
}

app-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.spinner {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-left: -36px;
  background: none;
  border-radius: 50%;
  border: 6px solid currentColor;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.spinner:first-child {
  margin-left: 0;
  color: rgba(0, 41, 140, 0.2);
  border-top-color: #00298C;
}
.spinner:nth-child(2) {
  color: rgba(255, 239, 8, 0.2);
  border-top-color: #FFEF08;
}
.spinner:nth-child(3) {
  color: rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
}
.spinner:nth-child(4) {
  color: rgba(8, 123, 57, 0.2);
  border-top-color: #087B39;
}
.spinner:nth-child(5) {
  color: rgba(222, 24, 24, 0.2);
  border-top-color: #DE1818;
}
.spinner:nth-child(2n) {
  margin-top: 40px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
